form {
    position: relative
}

select[data-type="tags"] {
    border-color: #363636!important
}

.show-password {
    color: #313131!important;
    cursor: pointer!important
}

.label.required::after {
    content: '*';
    margin-left: 5px
}

.label.required::after,
.help.is-danger,
.has-text-danger {
    color: var(--danger)!important
}

.input.small {
    width: 33%!important
}

.select select:hover,
.textarea:hover,
.input:hover,
.select select.is-hovered,
.is-hovered.textarea,
.is-hovered.input {
    border-color: transparent
}

.is-active.tags-input,
.is-focused.tags-input,
.tags-input:active,
.tags-input:focus,
.input:focus {
    border-color: var(--mainColorLight)!important;
    box-shadow: 0 0 0 .125em rgba(50, 115, 220, 0.25)!important
}

.is-danger.input,
.is-danger textarea {
    border-color: var(--danger)
}

.control .icon,
input::placeholder {
    color: #313131!important
}

.field.has-image {
    width: 100%;
    position: relative!important;
    display: flex
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px
}

.avatar-upload .avatar-edit input {
    display: none
}

.avatar-upload .avatar-edit input+label {
    display: flex;
    font-size: 1.5rem;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFF;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    font-weight: 400;
    transition: all .2s ease-in-out
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid var(--mainColorLight);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden
}

.avatar-upload .avatar-preview>#imagepreview {
    display: block;
    max-width: 100%;
    /* border-radius: 50%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.control.has-icons-right .icon.has-tooltip {}

#sending_form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    outline: none;
    cursor: progress;
    display: flex
}

#form_loader_container {
    display: flex
}

#sending_form.is-loading {
    background-color: rgba(255, 255, 255, .7);
    z-index: 1000
}

.show_file_informations.file-name {
    display: flex
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0
}


/* Firefox */

input[type=number] {}

.datetimepicker-footer-today {
    color: #2981BA!important
}
